<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Grass - Game Files Setup</title>
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row mt-5">
            <div class="col-sm-3">
                <a href="http://127.0.0.1:5000">
                    <button type="button" class="btn btn-success">Return Home</button>
                </a>
            </div>
            <div class="col-sm-9">
                <h1>Grass - Game Files Setup</h1>
            </div>
        </div>
        <div class="row">
            <form action = "http://127.0.0.1:5000/game-files-setup" method="POST">
                <div class="row">
                    <div class="form-group">
                        <label for="number_of_rounds">Number of rounds to create</label>
                        <input type="number" min="1" value="1" class="form-control" id="number_of_rounds" name="number_of_rounds">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group form-check">
                        <input type="hidden" id="create_new_game" name="create_new_game" value="0">
                        <input class="form-check-input" type="checkbox" id="create_new_game" name="create_new_game" value="1">
                        <label class="form-check-label" for="create_new_game">Create new game?</label>
                    </div>
                </div>
                <div class="row">
                    <button type="submit" class="btn btn-success" value="Submit">Create new rounds</button>
                </div>
            </form>
        </div>
    </div>

</body>
</html>