<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Grass - Game Options</title>
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row mt-5">
            <div class="col-sm-3">
                <a href="http://127.0.0.1:5000">
                    <button type="button" class="btn btn-success">Return Home</button>
                </a>
            </div>
            <div class="col-sm-9">
                <h1>Grass - Game Settings</h1>
            </div>
        </div>
    </div>

</body>
</html>