<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Grass Game Manager</title>
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row justify-content-md-center">
            <h1>Grass Game Manager</h1>
        </div>
        <div class="row mt-2 mb-2">
            <a href="http://127.0.0.1:5000/game-files-setup">
                <button type="button" class="btn btn-success">Game Files Setup</button>
            </a>
        </div>
        <div class="row mt-2 mb-2">
            <a href="http://127.0.0.1:5000/game-options">
                <button type="button" class="btn btn-success">Game Settings</button>
            </a>
        </div>
        <div class="row mt-2 mb-2">
            <a href="http://127.0.0.1:5000/round-information">
                <button type="button" class="btn btn-success">Enter Round Information</button>
            </a>
        </div>
    </div>
</body>
</html>